{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <script src="https://kit.fontawesome.com/b7be0387ab.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    {% block style_content %}
    {% endblock %}
  </head>
  <body>
    <header id="main-navigation">
      {% block type %}
      {% endblock %}
      <div class="hamburger-menu" onclick="toggleMenu()">
        <i class="fas fa-bars"></i>
      </div>
      <nav class="navbar">
        {% block navigation %}
        {% endblock %}
        <a id="l1" href="{% url 'index' %}">LOGOUT</a>
      </nav>
    </header>

    {% block sidebar %}
    {% endblock %}

    {% block body_content %}
    {% endblock %}

    {% block footer %}
    <footer>
      <p>&copy; 2024 Counsel Accounting and Ledger Control. All rights reserved.</p>
    </footer>
    {% endblock %}

    {% block extra_scripts %}
    <script src="{% static 'scripts/custom.js' %}"></script>
    {% endblock %}
  </body>
</html>
