{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Register Advocate</h2>
  <form method="post" enctype="multipart/form-data" class="needs-validation">
    {% csrf_token %}

    <div class="card p-4">
      <h5>User Information</h5>
      <div class="row">
        <div class="col-md-6 mb-3">
          {{ user_form.username.label_tag }} {{ user_form.username }}
        </div>
        <div class="col-md-6 mb-3">
          {{ user_form.password.label_tag }} {{ user_form.password }}
        </div>
        <div class="col-md-6 mb-3">
          {{ user_form.first_name.label_tag }} {{ user_form.first_name }}
        </div>
        <div class="col-md-6 mb-3">
          {{ user_form.last_name.label_tag }} {{ user_form.last_name }}
        </div>
        <div class="col-md-6 mb-3">
          {{ user_form.email.label_tag }} {{ user_form.email }}
        </div>
      </div>
    </div>

    <div class="card p-4 mt-4">
      <h5>Advocate Details</h5>
      <div class="row">
        <div class="col-md-4 mb-3">
          {{ advocate_form.mobile_number.label_tag }} {{ advocate_form.mobile_number }}
        </div>
        <div class="col-md-4 mb-3">
          {{ advocate_form.date_of_birth.label_tag }} {{ advocate_form.date_of_birth }}
        </div>
        <div class="col-md-4 mb-3">
          {{ advocate_form.blood_group.label_tag }} {{ advocate_form.blood_group }}
        </div>

        <div class="col-md-4 mb-3">
          {{ advocate_form.enrolment_no.label_tag }} {{ advocate_form.enrolment_no }}
        </div>
        <div class="col-md-4 mb-3">
          {{ advocate_form.date_of_enrolment.label_tag }} {{ advocate_form.date_of_enrolment }}
        </div>
        <div class="col-md-4 mb-3">
          {{ advocate_form.bar_registration.label_tag }} {{ advocate_form.bar_registration }}
        </div>

        <div class="col-md-6 mb-3">
          {{ advocate_form.kawf_no.label_tag }} {{ advocate_form.kawf_no }}
        </div>

        <div class="col-md-6 mb-3"></div> <!-- Empty to keep kawf_no left-only -->

        <div class="col-md-12 mb-3">
          {{ advocate_form.address.label_tag }} {{ advocate_form.address }}
        </div>

        <div class="col-md-4 mb-3">
          {{ advocate_form.joined_date.label_tag }} {{ advocate_form.joined_date }}
        </div>
        <div class="col-md-4 mb-3">
          {{ advocate_form.due_amount.label_tag }} {{ advocate_form.due_amount }}
        </div>
        <div class="col-md-4 mb-3">
          {{ advocate_form.picture.label_tag }} {{ advocate_form.picture }}
        </div>
      </div>
    </div>

    <div class="mt-3 text-end">
      <button type="submit" class="btn btn-primary">Register Advocate</button>
    </div>
  </form>
</div>
{% endblock %}
